.Board {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board-container {
  border: solid black 1px;
  width: 50rem;
  padding: 30px;
}